@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Montserrat";
  line-height: 1.5em;
}

:root {
  --correct:rgb(0, 156, 0);
  --incorrect:rgb(156, 0, 0);
  --high-score:rgb(0, 11, 165);
  --high-score-hover:rgb(56, 29, 29);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width:60%;
  max-width: 80%;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  transform: scale(1.5);
  border: 5px solid black;
  align-items: center;
}

.btn {
  background-color: rgb(64, 214, 26);
  border-radius: 5px;
  padding:5px 10px;
  outline: none;
}

.btn:hover {
  border-color: #000;
  transform: scale(1.03);
  transform: .3s all ease;
}

.btn-disabled {
  pointer-events: none;
}

.start-btn {
  font-weight: bold;
  padding:10px 20px;
  font-size: 1.5rem;
  margin: 20px;
}

.controls {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.hide {
  display: none;
}

header {
  display: flex;
  width: 100%;
  position: absolute;
  top:0;
  height: 100px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h1 {
  font-size: 2rem;
  color: #fff;
  margin: auto;
  font-weight: 600;
}

#high-score-link {
  position:absolute;
  left:5%;
  background-color: var(--high-score);
  padding: 15px 20px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

#high-score-link:hover {
  background-color: var(--high-score-hover);
  transition: .2s all ease;
}

#timer {
  position:absolute;
  right:5%;
  background-color: var(--high-score);
  padding: 15px 20px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

#answer-buttons {
  margin: 20px;
}

.correct:after {
  content: "CORRECT";
  bottom: 20px;
  right: 30px;
  display: flex;
  position: absolute;
  font-size: 2rem;
  color: var(--correct);
  justify-content: center;
  font-weight: 600;
}

.incorrect:after {
  content: "INCORRECT";
  bottom: 20px;
  right: 30px;
  display: flex;
  position: absolute;
  font-size: 2rem;
  color: var(--incorrect);
  justify-content: center;
  font-weight: 600;
}


#high-scores-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
